<!DOCTYPE html>
<html lang="en" ><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>LinkedIn</title> 
    <meta name="description" content="">
    <meta name="author" content="">
     <%= favicon_link_tag "/favicon.ico?1" %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
<head>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

  <%= stylesheet_link_tag "signedin.css"%>


    <!-- Le javascript -->
<%= javascript_include_tag 'application'%>
</head>

<body class="background_texture">



	<div id = "myhead" align="center">
		<div class = "wrapper">
            <a href="/" id='li-logo-in'></a>
                <div id="search">
                    <div class='global-search-dropdown' >
                        <label class="dropdown-creator search-all float-left">

                            
                        </label>
                    </div>

                  <%=form_tag secure_index_path,:method => 'get'  do %>

                        <%= text_field_tag :search, params[:search], :class=>'float-left', :placeholder=>'Search for People', :id=>''%>
                        <%= button_tag  '',:name => '',:class=>'search-button float-left' do%>
                      <span></span>
                      <%end%>

                  <% end %>

                    <!--input type="text" name="search" class="float-left" placeholder="Search for People"/>
                    <button class="search-button float-left"><span></span></button-->
                  <%=link_to 'Advanced','advanced_search_path' ,:class=>'float-left header-link'%>
                </div>

           <ul class="header-nav">
             <li class="float-left messaging" >
               <div class="activity-drop hidden"id="messaging">
                 <h3>Messaging</h3>

               </div>


             </li>
             <li class="float-left flag" >
             <div class="activity-drop hidden"id="notifications">

               <h3>Invitations<%= current_user.requested_friends.length unless current_user.requested_friends.length==0%></h3>
               <%if current_user.requested_friends.length!=0%>
                   <%current_user.requested_friends.each do |f|%>
                       <%=form_for Friendship.find_by_user_id_and_friend_id(current_user.id,f.id) do |x|%>
                        <%=link_to f.name ,users_path+'/'+(f.id).to_s%>
                        <%=submit_tag 'Accept'%>
                        <%=submit_tag 'Ignore'%>
                           <%end%>
                   <%end%>
               <%end%>

             </div>
             </li>
             <li class="float-left connect" >
             <div class="activity-drop hidden"id="invite">
               <h3>Invite</h3>

             </div>
             </li>
             <li class="float-left profile-pic">
             <div class="activity-drop hidden">
               <%=link_to 'Sign out',destroy_user_session_path%>
             </div>
             </li>

           </ul>
		</div>
	</div>
    
    <div class="wrapper">
    <%=yield%>
    </div>



</body>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap-dropdown.js"></script>
    <script >

var originalLeft = parseInt($("#myhead").css('left'));
$(window).scroll(function(){
  
        $('#myhead').css('left', originalLeft - $(this).scrollLeft());
    });
$('.header-nav li').hover(function(){$('.header-nav li').children().hide();$(this).children().show();});
$('body').click(function(){$('.header-nav li').children().hide()});
$('.header-nav li').click(function(){event.stopPropagation()})



$(document).ready(
        $("input[name='friendship[relation]']:radio").change(function(){
            if($(this).val()=='Other')
            {
                $('#email-div').show();
            }
            else $('#email-div').hide();
        })
)
</script>



